/* Global Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#root {
  height: 100vh;
}

body {
  background-color: black;
  color: #e8e6e3;
}

.paragraph-link {
  color:white;
  text-decoration: underline;
}

.paragraph-link:hover {
  color: black;
  background-color: orange;
  transition: background-color .5s;
}

/* Navigation Bar Styles */

.navig-link {
  color: white;
  padding: 5px;
}

.navig-link:hover {
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #c21e56;
  transition: background-color .5s;
}

.current {
  border-bottom: 4px solid #c21e56;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  margin-bottom: 20px;
  text-align:center;
  padding-left: 0px;
  margin: 0 auto;
}

nav ul li {
  padding: 20px 50px;
  color: white !important;
  display: inline;
}

/* Home Content Styling */
img {
  border-radius: 25px;
  max-width: 100%;
  height: 50%;
  
}

.jada-picture {
  max-width: 100%;
  height: 50%;
  margin: 0;
}

.jada-picture img {
  border: 5px solid black;
  margin-bottom: 50px;
  max-height: 760px;
}
.home-content {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(100px, 1fr));
  height: fit-content;
  background-image: url(img/dark-roses.jpg);
  background-size: cover;
  color: #e8e6e3;
}

.home-left {
  padding: 20px;
}

.home-left h2 {
  text-align: center;
  justify-content: left;
  margin: 10% 10%;
}

.home-left p {
  text-align: center;
  font-size: larger;
  margin: 10% 10%
}

.left-grid-item {
  grid-column-start: 1;
  text-align: center;
}

.right-grid-item {
  grid-column-start: 2;
}

/* About Page Styling */

.about-content {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(100px, 1fr));
  column-gap: 100px;
  height: fit-content;
  /* background-image: url(img/orangetulips.jpg); */
  background-size: cover;
  color: white;
  background-color: black;
}

.about-info h1 {
  text-align: center;
  padding: 20px;
}

.about-info p {
  text-align: left;
  padding: 10px;
  color: white;
}

/* Blog Page Styling */

.blog-content {
  background-image: url(img/yellowbg.jpg);
  background-size: cover;
  height: fit-content;
  text-align: center;
  color: black !important;
}

/* Blog Post Styling */

.blog-post {
  background-image: url(img/yellow-flowers.jpg);
  background-repeat: round;
  /* background-size: cover; */
  text-align: center;
}

.blog-post-content {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  opacity: 0.9;
  border-radius: 15px;
  color: black !important;
}

.blog-post-content img {
  width: 100%;
}

figcaption {
  text-align: center;
  background-color: black;
  border-radius: 25px;
  padding: 5px;
  color: white;
}

.blog-post-text {
  padding: 0px 10px 10px 10px;
}

.blog-post-info {
  text-align: left;
}

/* Projects Page Styling */

.projects-content {
  background-image: url(img/projectsbg.jpg);
  background-size: cover;
  height: fit-content;
  color: white;
  text-align: center;
}

.projects-cards {
  /* display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  grid-gap: 15px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-button:hover {
  background-color: aliceblue !important;
}

/* Contact Page Styling */

.contact-content {
  background-image: url(img/contactbg.jpg);
  background-size: cover;
  height: 500px;
  color: white;
  text-align: center;  
}

.contact-group {
  background-color: black;
  opacity: 0.75;
  padding: 15px 0;
}

/* Footer Styling */

footer {
  background-color: black;
  margin: 0 auto;
  height: 80px;
}

footer p {
  display: inline-block;
  float: left;
  color: white;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  margin-bottom: 20px;
  text-align:center;
  padding-left: 0px;
  margin: 0 auto;
}

.socials-bar {
  float: right;
}

footer ul li {
  padding: 15px;
}

.copyright {
  margin: 30px 0;
  text-align: left;
}

/* IPad usually breaks here */

@media screen and (max-width:768px) {
  /* Home Media Queries */
  .home-content {
    display: inline-block;
  }
  .jada-picture img {
    max-height: min-content;
  }
  nav ul li {
    padding: 20px 15px;
  }

  /* About Media Queries */
  .about-content {
    display: inline-block;
    height: 1470px;
  }

  .jada-picture-2 {
    text-align: center;
  }

}

/* Change sizing of navigation for smaller screens */

@media screen and (max-width:430px) {
  nav ul {
    text-align: left;
  }
  nav ul li {
    padding: 20px 10px;
    text-align: left;
  }

  footer {
    height: 200px;
    display: inline-block;
    text-align: center;
  }

  footer p {
    text-align: center;
    float: none;
  }
  .socials-bar {
    text-align: center;
    float: none;
  }
}

/* Change sizing of home page image for intermediate screens (so it doesn't run into my footer) */

@media screen and (min-width:480px) and (max-width:768px) {
  .jada-picture img {
    max-height: 500px;
  }
  
  .jada-picture {
    text-align: center;
  }

}

/* change width of blog post content */

@media screen and (max-width:1000px) {
  .blog-post-content {
    width: 75%;
  }
}