/* Global Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#root {
  height: 100vh;
}

body {
  background-color: black;
  color: #e8e6e3;
}

/* Navigation Bar Styles */

nav {
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
  text-align:center;
  margin: 0 auto;
}

nav ul li {
  padding: 20px 50px;
  color: white;
  display: inline;
}

/* Home Content Styling */
img {
  border-radius: 25px;
  max-width: 100%;
  height: 50%;
}

.jada-picture {
  max-width: 100%;
  height: 50%;
  margin: 0;
}

.jada-picture img {
  border: 5px solid black;
  margin-bottom: 50px;
  /* height: 50% */
  max-height: 760px;
}
.home-content {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(100px, 1fr));
  height: 800px;
  background-image: url(img/dark-roses.jpg);
  background-size: cover;
  color: #e8e6e3;
}

.home-left {
  padding: 20px;
}

.home-left h2 {
  text-align: center;
  justify-content: left;
  margin: 10% 10%;
}

.home-left p {
  text-align: center;
  font-size: larger;
  margin: 10% 10%
}

.left-grid-item {
  grid-column-start: 1;
  text-align: center;
}

.right-grid-item {
  grid-column-start: 3;
  margin: auto;
}

.middle-grid-item {
  grid-column-start: 2;
}

/* Footer Styling */

footer {
  background-color: black;
  margin: 0 auto;
  height: 100px;
}

footer p {
  margin: 0 auto;
  display: inline-block;
  float: left;
  color: white;
}


.copyright {
  padding: 2% 0;
  text-align: left;
}

@media screen and (max-width:768px) {
  .home-content {
    display: inline-block;
    height: 1050px;
  }
  .jada-picture img {
    max-height: min-content;
  }
  nav ul li {
    padding: 20px 15px;
  }

}

@media screen and (min-width:480px) and (max-width:768px) {
  .jada-picture img {
    max-height: 500px;
  }
  
  .jada-picture {
    text-align: center;
  }

}